*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: rgb(255, 247, 201); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 50px;
}

.content {
  background-color: rgb(255, 247, 201);
  width: 550px;
  padding: 10px;
}

p {
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  width: 500px;
  font-size: 40px;
  margin-bottom: 25px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.first {
  color: red;
  text-align: justify;
}

#your-name {
  margin-top: 30px;
  background-color: rgb(255, 220, 105);
  border: 5px solid #444;
  padding: 35px;
  text-align: center;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: yellowgreen;
}

#your-name h2 {
  color: olivedrab;
}

#profile-image {
  width: 530px;
  height: auto;
}
